.container {
	width: 100%;
}

.freeShipping {
	background: #af141d;
	margin: 10px;
	text-align: center;
	padding: 5px;
}

.freeShipping a {
	color: white;
}

.logo {
	padding: 10px;
}

.topImage {
	padding: 10px;
}

.topImage img {
	width: 100%;
}

.bottomImage {
	display: flex;
}

.bottomImage img {
	width: 33%;
	height: 80%;
	padding: 2px;

}